<h1> Your New Listing: </h1>
<h2 style="text-decoration: underline;"><%= @listing.title %></h2>
<p>
    <ul>
        <li><%= @listing.year %></li>
        <li><%= @listing.make %></li>
        <li><%= @listing.model %></li>
        <li><%= @listing.miles %> miles</li>
        <li><%= @listing.engine %></li>
        
    </ul>
</p>

<% if File.exist?("public/images/listings/#{@listing.id}.jpg" ) %>
    <img src="/images/listings/<%= @listing.id%>.jpg">
<% else %>
    <h3 style="color:red;">Image is Missing</h3>
<% end %>

<div>
    Listing name: <%= @listing.title %>
    <div>   
        <h2>Messages</h2>
          <% @messages.each do |message|%>
          <%= message %>
        <%end%> 

    </div>

</div>

<p><%= @listing.content %></p>
    <% if @listing && @listing.user == current_user %>
    <a href="/messages"><input type="button" value="Check for Messages"></a><br><br>
<form method="POST" action="/listings/<%= @listing.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete Listing">
    
</form><br>

<a href="/listings/<%= @listing.id %>/edit"><input type="button" value="Edit Listing"> </a><br><br>
<a href="/listings"><input type="button" value="Home"> </a>

    <% else %>
        <a href="/listings"><input type="button" value="Home"> </a><br><br>
        <a href="/messages/new"><input type="button" value="Leave a Message!!!"></a>
    <% end %>





